<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style type="text/css">

        #definition {
            margin-top: 3%;
            margin-left: 7%;
            width: 85%;
        }

        #association {
            margin-top: 3%;
            margin-left: 7%;
            width: 85%;
        }

        .keyword {
            width: 90%;
            margin-top: 3%;
            margin-left: 5%;
        }

        .associated-word {
            width: 90%;
            margin-top: 5%;
            margin-left: 5%;
        }


    </style>

    <title>Definitions and Associated Words</title>
</head>


<body>


<div class="keyword">
    <button type="button" class="btn btn-dark">
        <h3>  {{ word }} </h3>
    </button>
    <hr>
</div>


<div id="definition" class="list-group">

    {% for definition in definition_list %}
        <div class="list-group-item list-group-item-action align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <p></p>
                <span class="badge badge-warning">{{ definition[1] }}</span>
            </div>
            <p style="width: 92%;">
                {{ definition[0] }}
            </p>
        </div>
    {% endfor %}

</div>


<div class="associated-word">
    <button type="button" class="btn btn-danger">
        <h3>Associated Words</h3>
    </button>
    <hr>
</div>


<ul id="association" class="nav justify-content-around">
    {% for asso_word in asso_word_list %}
    <li class="nav-item">
        <a class="nav-link" href="#">
            <h3>{{ asso_word }}</h3>
        </a>
    </li>
    {% endfor %}
</ul>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>

